/*Variáveis*/
:root {
    --bgTopo: #d7d4ff;
    --buttonColor: #5047fc;
    --BgMain: hsl(0, 0%, 22%);
    --white: #ffffff;
    --white300: #f9f9f9;
    --title: #2b2b2b;
    --text: #555555;
  }

  @font-face {
    font-family: Lato;
    src: url("/assets/fonts/Lato-Regular.ttf");
 }

 @font-face {
  font-family: "Merriweather Bold";
  src: url("/assets/fonts/Merriweather-Bold.ttf");
}

@font-face {
  font-family: "Merriweather Regular";
  src: url("/assets/fonts/Merriweather-Regular.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}

button,
input {
  border: 0;
}

body{
  width: 100%;
  height: 100vh;

}

section{

}

section .conteudo-topo{
  display: flex;
  align-items: center;
  justify-content:space-around;
  height: 60vh;
  background-color: var(--bgTopo);
  font-family: Lato;
  
}

section .conteudo-topo .texto-botao{
  width: 26rem;
  line-height: 1.8;
}

section .conteudo-topo .texto-botao h2{
  font-size: 2.2rem;
  color: var(--title);
  margin-bottom: 1.2rem;
  font-family:"Lato";
}

section .conteudo-topo .texto-botao p{
  color: var(--text);
  font-size: 1.2rem;
}

section .conteudo-topo .texto-botao input{
  background-color: var(--buttonColor);
  width: 12rem;
  height: 2.8rem;
  font-size: 1.4rem;
  border-radius: 4px;
  color: var(--white);
  margin-top: 2.2rem;
  cursor: pointer;
  box-shadow: 1px 1px 3px grey;
  
}
section .conteudo-topo .imagem{

}

section .conteudo-topo .imagem img{
  background-repeat: no-repeat;
  max-width:600px;
  max-height:400px;
  width: auto;
  height: auto;
  filter: drop-shadow(0 0 0.22rem var(--title));
}

main{

}

main .principal{
 height: 110vh;
 display: grid;
 grid-template-rows: auto auto;
 grid-template-columns: 1fr 1fr 1fr;
 justify-items: center;
 align-content: center;
 row-gap: 60px;
 background-color: var(--BgMain);
 
}

main .principal .card{
  background-color: var(--white300);
  width: 18vw;
  border-radius: 12px;
  
  
}

main .principal .card .vermelho{
background-color: #ff0000;
height: 18vh;


}

main .principal .card .azul{
  background-color: #0000ff;
  height: 18vh;
  
}
main .principal .card .rosa{
  background-color: #ffc0cb;
  height: 18vh;
  
}
main .principal .card .verde{
  background-color: #008000;
  height: 18vh;
  
}
main .principal .card .amarelo{
  background-color: #ffff00;
  height: 18vh;
  
}
main .principal .card .roxo{
  background-color: #800080;
  height: 18vh;
  
}

main .principal .card .titulo-texto{
  height: 18vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1.2rem;
  
}

main .principal .card .titulo-texto  .titulo-card{
  margin-bottom: 1rem;
  font-family: "Merriweather Bold";
  color: var(--title);
  font-size: 1.4rem;

}



main .principal .card .titulo-texto p{
  line-height: 1.4;
  color: var(--text);
  font-family:"Lato";
  font-size: 1.2rem;
}

.formulario{
  width: 100%;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: var(--bgTopo);
  font-family: Lato;
}

.formulario p{
  font-size: 2.2rem;
}

.formulario input{
  width: 30rem;
  height: 3rem;
  font-size: 1.2rem;
  border-radius: 6px;
  color: var(--text);
  opacity: .7;
  box-shadow: 2px 2px 4px hsl(244, 100%, 80%);
 
}

input::placeholder{
  color: var(--text);
 
}

.formulario textarea{
  width: 30rem;
  padding-top: 1rem;
  font-family: Lato;
  font-size: 1.2rem;
  resize: none;
  color: var(--text);
  border-radius: 6px;
  border: none;
  opacity: .7;
  box-shadow: 2px 2px 4px hsl(244, 100%, 80%);
}

textarea, input{
  padding-left: 1rem;
  outline: none;
}

input[type="submit"]{
  background-color: var(--buttonColor);
  color: var(--white300);
  font-weight: bold;
  cursor: pointer;
}

footer{
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(0, 0%, 18%);
  color: var(--white300);
}

footer span a{
  color: var(--white300);
}

@media only screen and (min-width:250px) and (max-width:599px){

  html,body{
    height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
  }

  section .conteudo-topo{
    display: flex;
    flex-direction: column;
    height: 120vh;
    background-color: var(--bgTopo);
    font-family: Lato;
    
  }
  section .conteudo-topo .texto-botao h2{
    font-size: 2rem;

  }
  section .conteudo-topo .texto-botao {
   width: 18rem;
  }

  section .conteudo-topo .imagem img {
    max-width: 310px;
    max-height: 310px;

}

main .principal {
  height: 320vh;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  justify-items: center;
  align-content: center;
  row-gap: 80px;
}

main .principal .card{
  width: 80vw; 
  
}

main .principal .card .vermelho,  main .principal .card .azul,
main .principal .card .rosa, main .principal .card .verde,
main .principal .card .amarelo, main .principal .card .roxo,
main .principal .card .titulo-texto{

  height: 20vh;

}

.formulario{
  height: 100vh;
  gap: 16px;
}

textarea, input{
    max-width: 90%;
}

}